<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>TestCase Details</title>

    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >

	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>TestCase Details</h2>
    <a class="btn btn-primary" href="addcar">Add Testcase</a>
    <br><br><br>
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-color: black;" >Testcase Id</th>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-style: solid;" >Testcase Description</th>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-style: solid;" >Test Steps</th>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-style: solid;" >Expected Result</th>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-style: solid;" >Edit</th>
            <th scope="col" style="background-color:#FFA500;height: 50px;border-style: solid;" >Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td >{{ car.id }}</th>
                    <td>{{ car.name }}</td>
                    <td>{{ car.year }}</td>
                    <td>{{ car.price }}</td>
                    <td><a href='updatecar/{{ car.id }}'>Edit</a></td>
                    <td><a href='deletecar/{{ car.id }}'>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>